html{
    background-color: #16d7bd;
}
.navbar{
    border: 1px solid black;
    height: 31rem;
    width: 50%;
    margin: auto;
    box-shadow: 10px 10px 10px;
    background-color: white;
}
.header{
    background-color: orange;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
}
.header h1{
    text-align: center;
    color: #ffff;
}
.table-form{
    width: 80%;
    padding: auto;
    border: 1px solid black;
}
th{
font-size: 1.5rem;
}
input[type="text"], select{
    width: 80%;
    height: 30px;
}
input[type="email"], select{
    width: 80%;
    height: 30px;
}
input[type="number"], select{
    width: 80%;
    height: 30px;
}
input[type="submit"], select{
    width: 100px;
    height: 30px;
}